*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    background-color: rgb(186, 73, 73);
    height: 100vh;
}
.container{
    width: 40%;
    margin: auto;
}
nav{  
      background-color: inherit;
    width: 100%;
    height: 60px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
#logo{
    display: inline-block;
    color: white;
    margin: 0px;
    padding: 10px 0px;
    font-size: 20px;
}
#right_nav{
    display: flex;
}
#right_nav button{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    background: none rgba(255, 255, 255, 0.2);
    box-shadow: none;
    margin-left: 10px;
    font-size: 13px;
    padding: 8px 12px;
    min-width: 70px;
    border: none;
    color: white !important;
}
#timer_nav{
    display: flex;
    justify-content: space-around;
}
#timer_nav button{
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-family: ArialRounded;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
}
#timer_num{
    font-size: 120px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
#continue{
    display: none;
}
#start,#stop,#continue{
    
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 5px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-family: ArialRounded;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 150px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;

}
#timer_num{
    display: flex;
    justify-content: center;
}
#timer_main{    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0px 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 100%;
  text-align: center;
}
#info{
    text-align: center;
}
#tasks{    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 14px;
    color: white;
}
#tasks button{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    background: none rgba(255, 255, 255, 0.2);
    box-shadow: none;
    margin-left: 10px;
    font-size: 13px;
    padding: 8px;
    min-width: auto;
    border: none;
    color: white !important;
}

#add_task{box-sizing: border-box;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 12px;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    color: white;
}
#info p{
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    margin-bottom: 4px;
    color: white;
    
}
#info h2{
    font-size: 18px;
    font-weight: 100;
    color: white;
    overflow-wrap: break-word;
}